*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
p,
h1,
figure,
ul,
li {
    margin: 0;
}

.ctn {
    font-family: sans-serif;
}

.header {
    background-image: url(https://a0.muscache.com/im/pictures/9b4919ad-8b4d-4246-ab59-aaed7b1b9d37.jpg?im_w=1920);
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
}

.head {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 86%;
    margin: 0 auto;
    
}

.head1 {
    display: flex;
    align-items: center;
    font-size: 23px;
    font-family: quicksand;
    font-weight: 600;
    color: #fff;
}

.head1:hover {
    cursor: pointer;
}

.head1 i {
    font-size: 30px;
}

.head2 {
    font-size: 16px;
    color: #fff;
    padding-left: 80px;
}

.head2 span {
    margin-left: 10px;
}

.head2 a {
    color: #fff;
    text-decoration: none;
}

.head2 a:hover {
    color: #777;
    text-shadow: 1px 1px 3px rgb(204, 77, 204);
}

.head3 {
    display: flex;
    align-items: center;
}

.head3 .icons {
    background-color: #fff;
    padding: 8px 10px;
    font-size: 20px;
    color: #555;
    border-radius: 20px;
}

.head3 .icons:hover {
    cursor: pointer;
}

.head3 .fa-globe,
.head3 span a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    padding: 15px;
    border-radius: 16px;
}

.head3 .fa-globe:hover,
.head3 span a:hover {
    background-color: rgba(156, 156, 156, 0.2);
}

.head-bot {
    color: black;
    width: 820px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 40px;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.head-bot span {
    font-size: 14px;
    font-weight: 100;
    color: #666;
}

.head-bot1 {
    flex: 1.5;
    font-size: 13px;
    padding: 17px 0 17px 30px;
    height: 70px;
}

.head-bot2 {
    flex: 1;
    font-size: 14px;
    padding: 17px 0 17px 30px;
    height: 70px;
}

.head-bot3 {
    flex: 1;
    font-size: 14px;
    padding: 17px 0 17px 30px;
    height: 70px;
}

.head-bot4 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1.5;
    font-size: 14px;
    padding: 17px 0 17px 30px;
    height: 70px;
}

.head-bot2,
.head-bot3,
.head-bot4 {
    border-left: 1px solid #555;
}

.head-bot4 .fa-search {
    color: #fff;
    font-size: 16px;
    padding: 17px;
    margin-right: 7px;
    border-radius: 50%;
    /* transition: width 4s; */
    background-color: rgb(252, 49, 49);
}

.head-bot4 .fa-search:hover {
    width: 120px;
    border-radius: 40px;
}

.head-bot1:hover,
.head-bot2:hover,
.head-bot3:hover,
.head-bot4:hover {
    cursor: pointer;
    background-color: #EBEBEB;
    border-radius: 40px;
}

.go {
    width: 30%;
    margin: 60px 0 0 80px;
}

.go1 {
    color: #fff;
    font-size: 110px;
    font-weight: bold;
    line-height: 0.8;
}

.butt1 {
    margin: 20px 0 0 5px;
    color: #555;
    font-size: 14px;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

.hidden {
    width: 93%;
    margin: 0 auto;
    display: none;
}

.hidden input {
    position: relative;
    width: 100%;
    margin-top: 15px;
    height: 45px;
    border: none;
    border-radius: 30px;
    color: #111;
    font-size: 16px;
    padding-left: 33px;
}

.hidden i {
    position: absolute;
    top: 30px;
    left: 35px;
    font-size: 17px;
    color: red;
}

.live-h1 {
    width: 90%;
    margin: 40px auto 0 auto;
    color: #222;
}

.live {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin:20px auto 0 auto;
}

.live1 {
    width: 24%;
}

.live1:hover {
    cursor: pointer;
}

.live1 img {
    width: 100%;
    border-radius: 10px;
}

.live1 figure {
    margin: 0;
    font-size: 120%;
    color: #333;
    font-weight: 500;
    text-decoration: none;
}

.online {
    color: #fff;
    background-color: #000;
    margin-top: 60px;
    padding-bottom: 50px;
}

.explore {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;    align-items: center;
    padding-top: 50px;
}

.butt2 {
    padding: 8px 10px;
    border: 1px solid whitesmoke;
    background-color: #000;
    color: whitesmoke;
    border-radius: 10px;
}

.butt2:hover {
    background-color: rgba(156, 156, 156, 0.4);
}

.intractive {
    width: 90%;
    margin: 0 auto;
}

.hancock {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 75%;
    margin: 30px  auto 0 auto;
}

.hancock:hover {
    cursor: pointer;
}

.left-will1 {
    width: 49%;
    background-color: #222;
    border-radius: 20px;
}

.left-will1 img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.left-will1 figure {
    width: 60%;
    padding: 20px;
}

.right-will {
    width: 49%;
}

.top-will {
    display: flex;
    justify-content: space-between;
    height: 48%;
}

.left-will2 {
    width: 48%;
    background-color: #222;
    border-radius: 20px;
}

.left-will2 img {
    width: 100%;
    height: 80%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.left-will2 figure {
    padding: 10px;
}

.bot-will { 
    width: 100%;
    background-color: #222;
    border-radius: 20px;
    height: 48%;
    margin-top: 4%;
}

.bot-will img {
    width: 100%;
    height: 80%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.bot-will figure {
    padding: 10px;
}

.still {
    width: 90%;
    background-size: cover;
    padding: 6%;
    color: white;
    border-radius: 20px;
    margin: 60px auto 0 auto;
    background-image: url(https://a0.muscache.com/im/pictures/139cc915-d515-4030-a7ba-6a4d7e508226.jpg?im_w=1920);
}
 
.still-inside {
    width: 300px;
}

.still-inside h1 {
    font-size: 45px;
    padding: 20px 0;
}

.still-inside p {
    font-size: 17px;
    padding-bottom: 20px;
}

.butt3 {
    color: #333;
    padding: 16px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

.butt3:hover {
    cursor: pointer;
}

.join-h1 {
    color: #333;
    width: 90%;
    margin: 60px auto 0 auto;
}

.join {
    width: 90%;
    margin: 30px auto 0 auto;
    display: flex;
    justify-content: space-between;

}

.join1 {
    width: 32%;
}

.join1:hover {
    cursor: pointer;
}

.join1 img {
    width: 100%;
    border-radius: 10px;
}

.join1 figure {
    padding-top: 7px;
    font-size: 18px;
    color: #333;
}

.destin {
    width: 90%;
    margin: 25px auto 0 auto;
    display: flex;
    border-bottom: 1.4px solid #888;
    padding-bottom: 7px;
}

.art {
    margin-left: 4%;
}

.art1 a{
    color: #000;
    text-decoration: none;
    font-size: 14px;
    border-bottom: 2px solid #000;
    padding-bottom: 6px;
}

.art a {
    color: #444;
    font-size: 14px;
    text-decoration: none;
}

.new-york {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 13px auto 0 auto;
}

.new-york1 {
    line-height: 1.5;
    width: 25%;
    font-size: 13.5px;
    padding-bottom: 30px;
}

.new-york1 p a {
    color: #000;
    text-decoration: none;
}

.new-york1 span a {
    color: #555;
    text-decoration: none;
}

.footer {
    background-color: #e9e8e8;
    margin-top: 30px;
}

.foot {
    display: flex;
    margin: 40px auto 0 auto;
    width: 95%;
    padding-top: 30px;
}

.foot-left1 {
    width: 25%;
    line-height: 2.3;
    margin-top: 30px;}

.foot-left1 ul li {
    list-style-type: none;
    padding: 0;
}

.foot-left1 ul li a {
    color: #444;
    text-decoration: none;
    font-size: 15px;
}

.foot-left1 ul li a:hover {
    text-decoration: underline;
}

.li1 {
    font-size: 15px;
}

.copy {
    width: 90%;
    margin: 30px auto 0 auto;
    border-top: 1px solid #999;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}

.copy2 {
    margin-left: 15px;
}

.copy2 a {
    color: #222;
    padding-left: 5px;
    text-decoration: none;
}

.copy2 a:hover {
    color: #888;
}

.copy3 {
    display: flex;
    justify-content: right;
}

.globus a {
    color: #222;
    margin-left: 15px;
}

.globus a:hover {
    color: #777;
}

.face i {
    font-size: 23px;
    color: #222;
    margin-left: 20px;
}

.copy3 i:hover {
    cursor: pointer;
    color: #777;
}


@media only screen and (max-width: 1120px) {
    .head1 span {
        display: none;
    }

    .bot-will {
        display: none;
    }

    .left-will1 {
        width: 63%;
    }

    .right-will {
        width: 35%;
    }

    .top-will {
        flex-direction: column;
        width: 110%;
    }

    .margin-top {
        margin-top: 20px;
    }

    .left-will2 {
        width: 100%;
    }

    .new-york1 {
        width: 33.3%;
    }

    .none {
        display: none;
    }

}

@media only screen and (max-width: 950px) {
    .head2 {
        margin-top: 60px;
    }

    .head-bot {
        width: 90%;
        margin-top: 30px;
    }

    .go {
        width: 18%;
    }

    .go1 {
        font-size: 65px;
    }

    .foot {
        flex-wrap: wrap;
    }

    .foot-left1 {
        width: 50%;
    }

    .copy {
        flex-direction: column;
        align-items: center;
        line-height: 1.8;
    }

    .copy3 {
        order: 1 ;
    }

    .copy2 { 
        order: 3;
        margin: 0;
    }

    .copy1 {
        order: 2;
    }

}

@media only screen and (max-width: 830px) {
    .head3 span {
        display: none;
    }

    .live1 figure {
        font-size: 70%;
    }

    .live-h1 h1 {
        font-size: 110%;
    }

    .none1 {
        display: none;
    }
}

@media only screen and (max-width: 750px) {
    .head,
    .head-bot {
        display: none;
    }

    .hidden {
        display: inherit;
    }

    .right-will {
        display: none;
    }
    .left-will1 {
        width: 100%;
    }

    .explore {
        font-size: 70%;
    }

    .still {
        text-align: center;
        height: 600px;
    }

    .still-inside {
        width: 100%;
    }

    .still-inside h1 {
        font-size: 30px;
    }

    .still-inside p {
        font-size: 15px;
    }

    .join {
        flex-direction: column;
    }

    .join1 {
        width: 100%;
    }
    
    .join-h1 {
        font-size: 65%;
    }

    .new-york1 {
        width: 50%;
    }


}

@media only screen and (max-width:600px) {
    .none2 {
        display: none;
    }
}

@media only screen and (max-width:550px) {
    .butt2 {
        display: none;
    }

    .none3 {
        display: none;
    }

    .foot-left1 {
        width: 100%;
        text-align: center;
    }

}

@media only screen and (max-width:350px) {
    .copy3 {
        display: none;
    }
}